##This workflow is going to containerize one of my applications and deploy it to my Github Conntiainer Registry

name: Test and Deploy to GitHub Container Registry
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}  

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          file:  ./Dockerfile
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USER }}/convertaudio:latest
